.line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  padding: 0.3rem 0.6rem;
  gap: 0.7rem;
  border-radius: 10px;
  align-items: center;
  border: 1px solid #efeef2;

  > input {
    width: 400px;
  }
}